// List group

$list-group-link-item-color:                    $black !default;
$list-group-link-item-hover-color:              $black !default;

$list-group-link-item-padding-y:                1.5rem !default;

$list-group-link-dark-item-bg:                  $gray-100 !default;
$list-group-link-dark-item-hover-bg:            $gray-300 !default;

// Sortable

$sortable-helper-border-radius:                 $border-radius !default;